.animeCatalogWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;

    justify-items: center;
}


@media screen and (min-width: 320px) and (max-width: 768px){
       
}