.popupWrapper{
	height: 100%;
	width: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	
	background: rgba(0,0,0,.7);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.popupContent{
	position: relative;
	padding: 1rem;

	width: 60%;
	height: 20rem;
	overflow-y: auto;

	background: #161616;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 1.45rem;
}

.dropdownsMenu{
	display: flex;
	align-items: start;
	gap: .75rem;
}

.currentEditTitle{
	font-weight: 500;
	color: white;
}

.buttons{
	width: 100%;

	position: absolute;
	bottom: 16px;
	left: 0;

	padding: 0 16px;

	display: flex;
	gap: 1.34rem;
}

.buttons button{
	flex-grow: 1;
}

@media screen and (min-width: 320px) and (max-width: 768px){
	.popupWrapper{
		padding: 10px;
	}

	.popupContent{
		width: 100%;
		height: 55%;
	}

	.currentEditTitle{
		font-size: 1rem;
	}
}