.popupWrapper{
	height: 100%;
	width: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	
	background: rgba(0,0,0,.7);
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.popupContent{
	padding: 1rem;

	width: 50%;
	height: 20rem;
	overflow-y: auto;

	background: #161616;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 1.45rem;
}

.dropdownsMenu{
	display: flex;
	align-items: start;
	gap: .75rem;
}

.currentEditTitle{
	font-weight: 500;
	color: white;
}