.accept{
    background: #4ab868;
    transition: all 300ms ease;
    text-align: center;
}

.accept:hover{
    background: #3e9355;
    color: #dbdbdb;
}

.accept:active{
    background: #326e42;
    color: #c5c5c5;
}

.accept:disabled{
    background: #8c8c8c;
    color: #c5c5c5;
}