.Wrapper{
	padding: 40px;
	display: flex;
}

.NotFoundBanner{
	height: 100vh;
	width: 50%;
}

.errorWrapper{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 25px;
	margin-bottom: 100px;
}

.errorMessage{
	text-align: center;
}

.errorCode{
	font-size: 90px;
	font-weight: 700;
}

.buttons{
	display: flex;
	gap: 15px;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .NotFoundBanner{
    	display: none;
    }

    .Wrapper{
    	margin-top: 35vh;
    	padding: 0px;
    }
}